@page "/"
@using Microsoft.AspNetCore.Components
@inject ServicioRol ServicioRol
@inject NavigationManager Navigation

<div class="center-text">
    <h3><b>Bienvenidos</b></h3>
</div>

<!-- Botones para seleccionar el rol -->
<div class="role-selection">
    <button class="btn btn-primary btn-custom" @onclick="() => SelectRole(administrador)">Administradores</button>
</div>

@if (!string.IsNullOrEmpty(selectedRole))
{
    <br />
    <p>Rol seleccionado: @selectedRole</p>
}

@code {
    private string selectedRole = string.Empty;
    private string administrador = "Administrador";

    // Método para seleccionar el rol y actualizar el servicio
    private void SelectRole(string role)
    {
        selectedRole = role;                // Cambiar el valor de selectedRole
        ServicioRol.SeleccionarRol(role);   // Actualiza el rol en el servicio
        StateHasChanged();                  // Forzar actualización

        // Realizamos la redirección a la página común
        Navigation.NavigateTo("/Inicio");  // Redirige a la página común
    }
}




