@page "/api/Nota"
@using WebITSC.Shared.General.DTO
@inject IHttpServicios http

<h3>Lista Notas</h3>
<br />
<div class="form-group">
	<label for="search">Introduzca el Id</label>
	<InputText></InputText>
</div>


@code {

	

}
